<!--<p>projects works!</p>-->



<div class="main" id="projects" wmAnimate="landing" aos speed="faster">
  <h1 class="project-title">My Work 📂</h1>
  <div class="github__chart" style="display: flex; flex-direction: row;">
    <div style="flex: 1;">
      <app-github-calendar></app-github-calendar>
    </div>
    <!--
    <div class="github-year-selector">
      <ul (click)="selectYear($event)">
        <li *ngFor="let projectYear of projectYears" >
          <a [ngStyle]="{'color': (projectYear.isSelected ? '#ffffff' : '#57606a'), 'background-color':(projectYear.isSelected ? '#55198b' : 'initial')}">
            {{projectYear.year}}
          </a>
        </li>
      </ul>
    </div>
    -->
  </div>
  <div class="repo-cards-div-main" >
    <app-github-repo-card *ngFor="let project of projects2; let i = index" [github]="project" [index]="i"></app-github-repo-card>
  </div>

<!--  <button class="project-button" >MoreProject</button>-->
<div class="project-list">
  <div *ngFor="let project of projects" class="card">
    <div class="inner">
      <div class="card-front">
        <div class="header">
          <img class="shape" [src]="project.imgPath">
          <div class="label" [ngStyle]="{'color':project.textColor}">
            {{project.name}}
          </div>
        </div>
        <div> 
          <ul class="tech-list">
            <li [ngStyle]="{'color':getDarkerColor(project), 'font-weight': 'bold'}" style="list-style: none;" *ngFor="let technology of project.technologyList">
              {{technology}}
            </li>
          </ul>
        </div>
      </div>
      <div class="card-back" [ngStyle]="{'background':getGradient(project), 'color': project.textColor}">
        <div [ngStyle]="{'color': project.textColor}" style="font-weight: bold;
        text-align: center; font-family: sans-serif; font-size: 20px;">
        {{
          project.description
        }}
        </div>
        <div *ngIf="project.demoAvailable" class="demo-button"
          [ngStyle]="{'color':getDarkerColor(project)}"
        > Demo
        </div>
        <div *ngIf="!project.demoAvailable" class="demo-button"
          (click)="goToSourceCode(project)"
          [ngStyle]="{'color':getDarkerColor(project), 'left': '79.625px'}"
        > Source Code
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="project-button"><a class="main-button" href="https://github.com/dtroberts1" target="_blank">More Projects</a></div>
</div>

