<!--<p>projects works!</p>-->



<div class="main" id="projects" wmAnimate="landing" aos speed="faster">
  <h1 class="project-title">My Work 📂</h1>
  <div class="github__chart">
    <app-github-calendar></app-github-calendar>
  </div>
  <div class="repo-cards-div-main" >
    <app-github-repo-card *ngFor="let project of projects2; let i = index" [github]="project" [index]="i"></app-github-repo-card>
  </div>

<!--  <button class="project-button" >MoreProject</button>-->
<div class="project-list">
  <div *ngFor="let project of projects" class="card">
    <div class="inner">
      <div class="card-front">
        <div class="header">
          <img class="shape" [src]="project.imgPath">
          <div class="label" [ngStyle]="{'color':project.textColor}">
            {{project.name}}
          </div>
        </div>
      </div>
      <div class="card-back">
        <ul>
          <li *ngFor="let viewType of project.viewTypes"
          tabindex="1"
          (click)="goToUrl(viewType.url)"
          style="list-style:none;">
            {{viewType.displayName}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <div class="project-button"><a class="main-button" href="https://github.com/dtroberts1" target="_blank">More Projects</a></div>
</div>

