.main {
    width: 90%;
    padding: 20px 10px;
    margin: 0px auto;
    margin-top: 4rem;
}

.github__chart{
  margin: 3rem auto;
  width: 80vw;

}

.github-year-selector{
  width: 230px;

  ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-inline-start: 20px;
    li{
      a{
        position: relative;
        display: block;
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        border-radius: 6px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        color: #57606a;
        /*color: #ffffff;*/
        /*background-color: #55198b;*/
        padding-right: 16px !important;
        padding-left: 16px !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        font-weight: 500;
        font-size: 20px;

        &:hover{
          text-decoration-color: initial;
          text-decoration-style: initial;
          text-decoration-line: none;
          background-color: #f6f8fa;
        }
      }

      line-height: 1.5;
      width: 100%;
    }
  }
}
.project-title {
  font-size: 52px;
  font-weight: 400;
  line-height: normal;
}

.startup-project-text img{
  max-width: 100%;
  height: auto;
}

.repo-cards-div-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem 1rem;
}
.main-button {
  background-color: #55198b;
  color: #fff;
  font-weight: 700;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 13px 22px;
  //margin-right: 50px;
  text-transform: uppercase;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}
.project-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
/* Media Query */
@media (max-width: 1380px) {
  .project-title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .project-title {
    font-size: 30px;
    text-align: center;
  }
  .repo-cards-div-main{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.project-list{
  height: 350px; 
  display: flex; 
  gap: 20px; 
  justify-content: center;

  .card{
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    border: none;

    &:hover{
      .inner{
        transform: rotateY(180deg);
      }
    }

    
.inner{
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform .8s;
  transform-style: preserve-3d;
  outline: none;
  border: none;

  .card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    box-shadow: -2px 16px 31px 2px rgba(112,107,107,0.62);
    -webkit-box-shadow: -2px 16px 31px 2px rgba(112,107,107,0.62);
    -moz-box-shadow: -2px 16px 31px 2px rgba(112,107,107,0.62);
    border-radius: 5px;
  }
  
  .card-front{
    .tech-list{
      padding-inline-end: 40px;

      li{
        list-style: none;
        line-height: 2.5em;
        text-align: center;

        &:not(:nth-last-child(1)){
          border-bottom: solid 0.5px rgba(211, 211, 211, .4);
        }
        /*
        &:not(:nth-child(1)){
          border-top: solid 0.5px rgba(211, 211, 211, .5);
        }
        */
      }
    }
    .header{
      position: relative;
      .label{
        position: absolute;
        top: 0;
        right: 20px;
        max-width: 200px;
        font-size: 1.5em;
        text-align: end;
      }
      .shape{
        clip-path: polygon(0 0, 100% 1%, 100% 82%, 0 100%);
        width: 100%;
        height: 105px;
        object-fit: cover;
      }
    }
  }
  .card-back{
    transform: rotateY(180deg);
    align-items: start;
    padding-top: 30px;
    font-size: 17px;
    position: relative;

    .demo-button{
      position: absolute;
      background: white;
      color: black;
      border-radius: 20px;
      font-size: 20px;
      font-family: sans-serif;
      padding: 4px 12px 4px 12px;
      top: 40%;
      left: 111.33px;

      &:hover{
        cursor: pointer;
        opacity: .5;
      }
    }

    li:hover{
      cursor: pointer;
    }
  }
}
  }
}