
<div style="display: flex; justify-content: center;">
  <div style="width: 90%;">
    <div class="main contact-margin-top" id="contact">
      <div class="contact-div-main">
        <div class="contact-header" wmAnimate="fadeInRight" aos speed="normal">
          <h1 class="heading contact-title">{{contactInfo.title}}</h1>
          <p class="subTitle contact-subtitle">{{contactInfo.subtitle}}</p>
          <div class="contact-text-div">
            <a class="contact-detail" href="{{'tel:'+ contactInfo.number}}">{{contactInfo.number}}</a>
            <br><br>
            <a class="contact-detail-email" href="{{'mailto:' + contactInfo.email_address}}">
              {{contactInfo.email_address}}</a>
            <br><br>
            <app-social-media></app-social-media>
          </div>
        </div>
        <div style="display: flex; justify-content: end; align-items: center;">
          <div wmAnimate="fadeInLeft" aos speed="normal">
              <img style="max-width: 100%; height: 400px;" src="../../assets/images/contactMe.png" />
          </div>
        </div>
    <!--      <div >-->
    <!--&lt;!&ndash;      <img src="../../assets/images/contactMail.webp" class="contact-image">&ndash;&gt;-->
    <!--      </div>-->
    
      </div>
    </div>
  </div>
  
</div>